apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: inventory
  template:
    metadata:
      labels:
        app: inventory
    spec:
      containers:
        - name: inventory
          image: demarcus1/inventory-service:latest
          ports:
            - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: inventory-service
  labels:
    monitoring: "enabled" # <--- Match the ServiceMonitor selector
spec:
  selector:
    app: inventory
  ports:
    - name: web
    - protocol: TCP
      port: 5000
      targetPort: 5000
