apiVersion: apps/v1
kind: Deployment
metadata:
  name: orders-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: orders
  template:
    metadata:
      labels:
        app: orders
    spec:
      containers:
        - name: orders
          image: demarcus1/orders-service:latest
          ports:
            - containerPort: 8000
          env:
            - name: INVENTORY_URL
              value: "http://inventory-service:5000" # Internal K8s DNS
---
apiVersion: v1
kind: Service
metadata:
  name: orders-service
spec:
  selector:
    app: orders
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
